@import url('./globalStyles.css');


body {
    background-color: var(--oscuro);
    background-image: url('../assets/wallpaper3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* capa sobre fondo */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .8);
}

header {
    background-color: var(--negro);
    height: 5rem;
    margin-bottom: 3rem;
}

nav {
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .user-info .user-image {
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url('../assets/user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50vh;
    margin-left: .5rem;
}

nav .user-info button {
    background-color: var(--laranja);
    color: white;
    padding: .5rem 1rem;
    margin-left: 2rem;
    border-radius: .3rem;
    font-size: .8rem;
    font-weight: 400;
}
nav .user-info button:hover{
    background-color: rgb(255, 62, 32);
    transition: background-color 0.5s ease;
}


.container {
    padding: 0 5%;
}

form {
    background-color: var(--negro);
    padding: 2rem 3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input {
    flex-grow: 1;
    border-radius: 100vh;
    padding: .3rem 1rem;
    border: 3px solid var(--app-grey);
    margin: 0.5rem 1rem;
}

form input:focus {
    outline: none;
    border: 3px solid var(--lila);
    transition: border 1s ease;
}

form button {
    background-color: var(--azul);
    color: white;
    padding: .8rem 1.5rem;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}

form button:hover {
    background-color: var(--azul-hover);
    transition: background-color 0.8s ease;
}

main ul {
    color: black;
}

main h2 {
    margin: 1.5rem 0 .5rem 0;
}

/* ------------Tareas pendientes */
.tareas-pendientes .tarea {
    background-color: var(--app-grey);
    margin-bottom: .7rem;
    border-radius: .5rem;
    border-left: .6rem solid grey;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tareas-pendientes .tarea i {
    pointer-events: none;
    color: grey;
    font-size: 1.4rem;
    border-radius: 50vh;
}

.tareas-pendientes .tarea button {
    border-radius: 50vh;
}

.tareas-pendientes .tarea button:hover i {
    color: var(--verde);
    transition: color 0.8s ease;
}

.tareas-pendientes .tarea button:active {
    background-color: var(--verde);
    transition: background-color 0.8s ease;
}

.tareas-pendientes .tarea .descripcion {
    padding: .3rem .5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.tareas-pendientes .tarea .descripcion .nombre {
    flex-grow: 1;
}

.tareas-pendientes .tarea .descripcion .timestamp {
    margin-left: 1rem;
    padding: .3rem .8rem;
    border-radius: 50vh;
    background-color: white;
    color: grey;
    font-size: .9rem;
}

/* ------------Tareas terminadas */

.tareas-terminadas{
    margin-bottom: 4rem;
}

.tareas-terminadas {
    background-color: var(--app-grey);
    margin-bottom: .7rem;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tareas-terminadas .hecha i {
    font-size: 1.4rem;
    border-radius: 50vh;
    color: var(--verde);
}

.cambios-estados i {
    pointer-events: none;
}

.tareas-terminadas .descripcion {
    padding: .3rem .5rem;
    color: grey;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.tareas-terminadas .descripcion .nombre {
    text-decoration: line-through;
    flex-grow: 1;
}

.tareas-terminadas .descripcion button {
    font-size: .9rem;
    color: white;
    margin-left: .6rem;
    padding: .4rem;
    border-radius: .3rem;
}

.tareas-terminadas .cambios-estados button:hover {
    color: var(--negro);
    transition: color 0.8s ease;
}

.tareas-terminadas .cambios-estados button:active {
    color: white;
    transition: color 0.8s ease;
}

.tareas-terminadas .descripcion .incompleta {
    background-color: var(--azul);
}

.tareas-terminadas .descripcion .borrar {
    background-color: var(--laranja);
}

footer {
    height: 3rem;
    width: 100%;
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(220, 149, 44);
}

.active {
    background-color: #ff7059ff;
    color: rgb(187, 181, 181);
    cursor: progress;
}

.nav-ul a{
    text-decoration: none;
    padding-bottom: .6vw;
    color: white;
}

.nav-ul a:hover{
    transition: .2s ease-out;
    border-bottom: 4px solid #FBD214;
}

.nav-ul li{
    list-style: none;
    cursor: pointer;
    padding: 0 .6vw 0 .6vw;
}

.nav-ul{
    display: flex;
    font-size: 1.5vw;
}

.pacientes-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border: none !important;
}
.pacientes-list h4 {
    font-weight: bold;
    padding: .5rem;
    margin-bottom: .2rem;
    border-bottom: 1px solid var(--oscuro);
}

.pacientes-list p{
    padding: .2rem;
}

.descripcionDatos{
    width: 100%;
}

.descripcionDatosO{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.lista-pacientes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.lista-odontologos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}